body {
    line-height: 1;
    height: 100%;
    font-family: Arial;
    font-size: 15px;
    color: #313e47;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 44px;
    color: #313e47;
    text-align: center;
    font-weight: bold;
}
a {
    color: #69B9FF;
}
.list_info li span {
    width: 150px;
    display: inline-block;
    font-weight: bold;
    font-style: normal;
}
.list_info {
    text-align: left;
    display: inline-block;
    list-style: none;
    margin-top: -10px;
    margin-bottom: -11px;
}
.list_info li {
    margin: 11px 0px;
}
.fail {
    margin: 10px 0 20px 0px;
    text-align: center;
}
.email {
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.email input {
    height: 30px;
    width: 200px;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B6B6B6;
    margin-bottom: 10px;
}
.block_success {
    max-width: 960px;
    padding: 170px 30px 70px 30px;
    margin: -50px auto;
}
.success {
    text-align: center;
}
.mail_block label {
    line-height: 30px;
    font-size: 20px;
}
.block_success .button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 28px Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-linear-gradient(#00adee, #0078a5);
    background: -o-linear-gradient(#00adee, #0078a5);
    background: linear-gradient(#00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    width: 200px !important;
}
.block_success .button:hover {
    text-decoration: none;
    color: #d9eef7;
    background: #007ead;
    background: -webkit-linear-gradient(#0095cc, #00678e);
    background: -o-linear-gradient(#0095cc, #00678e);
    background: linear-gradient(#0095cc, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.success1 {
    padding-top: 20px;
    text-align: center;
}  

.zzz2:hover {
    background: #CD0000;
}